.icon {
    display: flex;
    flex-direction: column;
    align-items: center; /* для выравнивания иконки по центру */
  }
  
  .icon i {
    font-size: 2em; /* увеличение размера иконки в два раза */
  }